/* 

    font-family: 'Kaushan Script', cursive;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Roboto', sans-serif;

 */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
}

/* HEADER */

.header-size {
  padding-top: 26px;
  margin-bottom: 126px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-line {
  display: flex;
}

.logo {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

.menu-item {
  margin: 8px 58px 0 0;
  list-style: none;
}

.menu-item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.menu-item::after {
  content: "";
  display: block;
  background-color: #f38181;
  height: 3px;
  margin-top: 10px;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}

.menu-item:hover::after {
  transform: scaleX(1);
}

.menu-link:hover {
  color: #f38181;
}

.menu-link {
  text-transform: uppercase;
  color: #95e1d3;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

/* MAIN */

/* SERVICE */

.first-text {
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  color: #333333;
  text-align: center;
  margin-bottom: 18px;
}

.headline {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.headline::after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 40px auto 0;
}

/* CARD */

.card {
  display: flex;
  padding-bottom: 90px;
  font-size: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services {
  width: 380px;
  margin: 0 0 98px;
  padding-left: 80px;
  position: relative;
  list-style: none;
}

.services::before {
  position: absolute;
  content: "";
  top: 0;
  left: 20px;
  right: 28px;
  height: 30px;
  width: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-alarm::before {
  background-image: url(../photo/ALARM.png);
}

.icon-book::before {
  background-image: url(../photo/BOOK.png);
}

.icon-computer::before {
  background-image: url(../photo/COMPUTER.png);
}

.icon-home::before {
  background-image: url(../photo/HOME.png);
}

.icon-image::before {
  background-image: url(../photo/IMAGE.png);
}

.icon-line-graph::before {
  background-image: url(../photo/LINE-GRAPH.png);
}

.services:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.service-name {
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.service-description {
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  font-family: "Roboto", sans-serif;
}

/* MEET OUR TEAM */

.headline-our-team {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.headline-our-team::after {
  content: "";
  display: block;
  background-color: #f38181;
  width: 60px;
  height: 3px;
  margin: 40px auto;
}

.about-team {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  margin: 0 auto 90px;
  text-align: center;
  width: 942px;
}

/* TEAM_CARD */

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 82px;
}

.team-info {
  width: 380px;
  text-align: center;
  position: relative;
}

.image-wrapper {
  width: 380px;
  height: 472px;
  margin-bottom: 30px;
  transition: transform 0.2s linear;
}

.image-wrapper:hover {
  display: block;
  content: "";
  transform: translate(-10px, -10px);
  position: relative;
  box-shadow: 10px 10px 0 rgba(149, 225, 211,1);
  transition: transform 200ms;
}

.networks {
  position: absolute;
  width: 380px;
  height: 472px;
  top: 0;
  left: 0;
  opacity: 0;
}

.networks:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding: 207px 78px;
  background-image: linear-gradient(to top, rgba(252,227,138,0.9), rgba(243,129,129,0.9));
  opacity: 1;
  transition: opacity 0.2s linear;
}

.networks-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 56px;
  background-color: #fce38a;
}

.networks-icons:hover {
  background-color: #95e1d3;
}

.network-facebook {
  display: block;
  background-image: url(../photo/networks/facebook.png);
  width: 13px;
  height: 26px;
}

.network-twitter {
  display: block;
  background-image: url(../photo/networks/twitter.png);
  width: 26px;
  height: 22px;
}

.network-pinterest {
  display: block;
  background-image: url(../photo/networks/pinterest.png);
  width: 21px;
  height: 26px;
}

.network-instagram {
  display: block;
  background-image: url(../photo/networks/instagram.png);
  width: 26px;
  height: 26px;
}

.name {
  font-size: 14px;
  color: rgb(51, 51, 51);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.profession {
  font-size: 15px;
  line-height: 24px;
  color: rgb(153, 153, 153);
  font-family: "Roboto", sans-serif;
}

/* FOOTER */

.copyright {
  display: inline-block;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  padding: 16px 0;
}

.email-wrapper {
  display: flex;
  justify-content: flex-end;
}

.email-signature {
  padding: 9.5px 12px;
  font-size: 15px;
  line-height: 24px;
  width: 228px;
  font-family: "Roboto";
  font-style: italic;
  color: #cccccc;
  border: 1px solid #e7e7e7;
  border-right: 0;
}

.subscribe {
  display: inline-block;
  background-color: #95e1d3;
  border: none;
  width: 150px;
  min-height: 40px;
  padding: 14px;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.designer-link {
  text-decoration: none;
  color: #000;
}

.designer-link:hover {
  color: #95e1d3;
}

.footer-style {
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}